
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")

    body 
        header 
            h1 Noom
        main 
        //-1. WebSocket CODES::
            //- form#nickname
            //-     input(type = "text", placeholder = "choose a nickname", required)
            //-     button Save
            //-     //-need to send to BE :: BE has to differentiate btw nickname and the actual msg
                
            //- ul
            //- form#message
            //-     input(type = "text", placeholder = "write a msg", required)
            //-     button Send
        //-2. Socket IO CODES::

        script(src = "/socket.io/socket.io.js")
        script(src = "/public/js/app.js") 

        //- this won't work at first: we need to make is static 
        //- : go to server.js and set up Express

    