doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Noom
        main
            form#nickname 
                input(type="text", placeholder="choose a nickname", required)
                button Save
            ul
            // 1. li를 만들어주고, 그 안에 메세지를 적은 다음, li를 ul안으로 넣어주면 된다. -> app.js에서 작업
            form#message
                input(type="text", placeholder="write a msg", required)
                // form input button만 작성하면 backend로 nickname을 보내게 된다. 
                // backend에서는 message를 구분하지 못한다. (∴내가 msg를 보낼 때 모두에게 보내고 있기 때문에) => msg type 만들어주기 (id 만들어주기)
                button Send
        button call
        script(src = "/public/js/app.js")