doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Noom
            // user가 chat에 참가하고 싶으면 room을 먼저 만들도록 하기 (public char 사용 X) => 이것을 하기 전에 socket IO 설치를 꼭 해줘야 함
            main 

        script(src = "/socket.io/socket.io.js")
        script(src = "/public/js/app.js")